.contenedor 
{
  height: 100vh; 
  display: flex;
  
  user-select: none;

  overflow: hidden;
}

.contenedor .contenedor-formulario 
{
  align-content: center;
  text-align: center;
  flex: 3;
  background-color: #c51313;
}

.contenedor-formulario .img 
{
  position: absolute;
  top: -100px;
  left: 50%;
  width: 100px;
  height: 100px;

  transform: translateX(-50%);
}

.contenedor .logo 
{
  flex: 2;
  text-align: center;
  align-content: center;
  background-color: #000c23;
}

.logo .frase 
{
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}

.formulario 
{

  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  margin: 0 auto;
  background-color: #c51313;
  border-radius: 20px;
}

.formulario .wide 
{
  align-self: center;
  grid-column: -3 / -1;
  
  display: flex;
  justify-content: center;
}

.formulario .grupo 
{
  margin: 50px 0;
}

.grupo.usuario 
{
  max-height: 88px;
}

.ancor 
{
  color: #0980e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.grupo .texto 
{
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ebd0d0;
}

.grupo .input 
{
  width: 300px;
  height: 30px;
  font-size: 1.5rem;
  padding: 5px;
  outline: none;
  background-color: transparent;
  color: #ebd0d0;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-top: 10px;
}

.btn 
{

  padding: 15px 20px;
  font-size: 1.4rem;
  background-color: #000c23;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  color: #fff;

  margin: 50px 50px;

}

.btn:hover 
{
  background-color: rgba(0, 23, 66, 0.9);
}

.btn.registro 
{
  margin: 10px 0;
}

.texto 
{
  display: block;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 50px;
}

.opciones 
{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-tipo 
{
  position: relative;
  display: flex;
  width: 200px;
  height: 30px;
  align-items: center;

  gap: 30px;

  padding: 10px;
  background-color: #333;
  border-radius: 20px;

  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor-tipo .tipo 
{
  font-size: 1.2rem;
  color: #fff;
  z-index: 10;
  user-select: none;
}

.contenedor-tipo .seleccionado
{
  position: absolute;

  left: 0;
  height: 100%;
  width: 50%;


  font-size: 1.2rem;
  color: #fff;
  background-color: #000c23;
  border-radius: 20px;

}

.lista 
{
  display: flex;
  justify-content: center;

  gap: 5px;
}

.lista .item 
{
  color: #fff;
}


@media (max-width: 1649px) 
{
  .contenedor .logo 
  {
    background-color: #0980e8;
  }

  .formulario 
  {

    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin: 0 auto;
    background-color: #c51313;
    border-radius: 20px;
  }

  .contenedor-formulario .img 
  {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 90px;
    height: 90px;

    transform: translateX(-50%);
  }

  .formulario .wide {
    grid-column: auto;
  }

}

@media (max-width: 1200px) 
{
  .contenedor .logo 
  {
    background-color: #e80980;
  }

  .formulario 
  {

    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 auto;
    background-color: #c51313;
  }

  .formulario .wide {
    grid-column: auto;
  }

  .grupo .input 
  {
    width: 200px;
    height: 30px;
    font-size: 1.2rem;
    padding: 5px;
    outline: none;
    background-color: transparent;
    color: #ebd0d0;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
  }
}
@media (max-width: 768px) 
{
  .contenedor 
  {
    height: 100dvh;
    display: block;
    overflow: auto;
  }

  .contenedor .logo 
  {
    display: none;
  }

  .formulario 
  {
    grid-template-columns: 1fr;
  }

  .formulario .img 
  {
    position:relative;
  }

  .formulario .wide {
    margin-top: 20px;
  }

}



.slide-in-left {
    transition: 1s;
	/*-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
}

.slide-in-right {
	/*-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
    transition: 1s;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-14 3:7:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(103.37);
              transform: translateX(103.37);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(103.37);
              transform: translateX(103.37);
      opacity: 1;
    }
  }
  

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(103.37);
              transform: translateX(103.37);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-103.37);
              transform: translateX(-103.37);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(103.37);
              transform: translateX(103.37);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-103.37);
              transform: translateX(-103.37);
      opacity: 1;
    }
  }
  

