<app-header></app-header>
<div class="graficos" @enterState>
    <app-grafico [datos]="logs" class="gr"></app-grafico>
    <app-grafico-torta-turnos-especialidad class="gr"></app-grafico-torta-turnos-especialidad>
    <app-grafico-barra-turnos-dia class="gr"></app-grafico-barra-turnos-dia>
    <app-grafico-barra-turnos-solicitados-medico class="gr"></app-grafico-barra-turnos-solicitados-medico>
    <app-grafico-barra-turnos-finalizados-medico class="gr"></app-grafico-barra-turnos-finalizados-medico>
</div>


