.graficos
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gr 
{
    width: 600px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

}