.contenedor {
    height: 100dvh; /* Corregido a 100vh en lugar de 100dvh */
    display: flex;
    
    user-select: none;
}

.contenedor .contenedor-formulario {
    align-content: center;
    text-align: center;
    flex: 3;
    background-color: #c51313;
}

.contenedor .logo {
    flex: 2;
    text-align: center;
    align-content: center;
    background-color: #000c23;
}

.logo .frase {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.formulario 
{

    position: relative;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    padding: 40px 20px;
    margin: 0 auto;
    background-color: #c51313;
    border-radius: 20px;
}

.formulario .grupo {
    width: 100%;
    margin: 50px 0;
}

.formulario .texto {
    color: #fff;
    font-size: 1.2rem;
}

.formulario .ancor {
    color: #0980e8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.grupo .texto {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ebd0d0;
}

.grupo .input {
    width: 300px;
    height: 30px;
    font-size: 1.5rem;
    padding: 5px;
    outline: none;
    background-color: transparent;
    color: #ebd0d0;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.btn {
    width: 100px;
    padding: 15px 20px;
    font-size: 1.4rem;
    background-color: #000c23;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    color: #fff;

}

.btn:hover {
    background-color: rgba(0, 23, 66, 0.9);
}

.contenedor-usuarios {
    position: absolute;
    top: 0;
    right: 0; /* Ajustado para que se ubique a la derecha */
    width: 100%;
    height: 100%;
}

.usuarios {
    position: absolute;
    top: 40px;
    right: 10%;
    cursor: pointer;
    z-index: 1010;
}

.listado-usuarios {
    position: absolute;
    top: 100px;
    right: 8%;
    z-index: 1010;

    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.modal 
{
    display: block; /* Inicialmente oculto */
    position: fixed; /* Se posiciona sobre todo el contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Valor alto para estar por encima de otros elementos */
    overflow: auto; /* Permite hacer scroll si el contenido del modal es largo */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}



@media (max-width: 768px) 
{
    .contenedor {
        height: 100dvh;
        display: block;
    }

    .contenedor .logo {
        display: none;
    }

    .contenedor .contenedor-formulario {
       display: block;
       height: 100%;
    }

    .contenedor-formulario .formulario {
        padding: 0;
        gap: 0;
        width: 100%;
        text-align: center;
    }

    .grupo .texto {
        display: block;
    }

    
}





/* ----------------------------------------------
 * Generated by Animista on 2024-6-14 1:27:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
