.contenedor {
    height: 100%;
        .cont-header {
            position: relative;
                .header {
                    position: absolute;
                    width: 150%;
                    height: 800px;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -60%);

                    background-color: #000c23;

                    border-radius: 50%;
                    z-index: 1;
                }



    }
    


    div.secciones {
        position: relative;
        top: 45%;
        display: flex;
        justify-content:space-around;
        align-items: center;

    }

}
