.contenedor
{
    align-content: center;
}

.contenedor div 
{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
    padding: 20px;

    border-radius: 10px;
    background-color: #102b75;
    margin: 0 auto;
    overflow: none;
}

.icono 
{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.contenedor .lista 
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;
}

.lista .img 
{
    width: 250px;
    height: 250px;
    border-radius: 10px;

    object-fit: cover;
    cursor: pointer;
}

.img.seleccionada {
    transform: scale(1.01); 
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.btn 
{
    font-size: 2rem;

    padding: 10px;
    border-radius: 5px;

    cursor: pointer;
    color: #fff;
    background-color: #dd00ff;
    border: none;
}

.modal 
{
    display: block; /* Inicialmente oculto */
    position: fixed; /* Se posiciona sobre todo el contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Valor alto para estar por encima de otros elementos */
    overflow: auto; /* Permite hacer scroll si el contenido del modal es largo */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

@media (max-width: 1450px) 
{
    .lista .img 
    {
        width: 200px;
        height: 200px;
        border-radius: 10px;

        object-fit: cover;
        cursor: pointer;
    }
}

@media (max-width: 1160px) 
{
    .lista .img 
    {
        width: 150px;
        height: 150px;
        border-radius: 10px;

        object-fit: cover;
        cursor: pointer;
    }
}

@media (max-width: 768px) 
{
    .contenedor div 
    {
        position: relative;
        width: 85%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 50px;
        padding: 20px;

        border-radius: 10px;
        background-color: #102b75;
        margin: 0 auto;
        overflow: none;
    }

    .lista .img 
    {
        width: 80px;
        height: 80px;
        border-radius: 10px;

        object-fit: cover;
        cursor: pointer;
    }

    .btn 
    {
        font-size: 1.1rem;

        padding: 10px;
        border-radius: 5px;

        cursor: pointer;
        color: #fff;
        background-color: #dd00ff;
        border: none;
    }
}