.header
{
    user-select: none;
    background-color: rgb(203, 25, 25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.header .contenedor
{
    position: relative;
    display: flex;
    align-items: center;

    padding: 20px;
}

.contenedor .encabezado
{
    flex: 2;
    text-align: center;
}

.contenedor .icono
{
    flex: 1;
}

.contenedor .opciones-usuario
{
    flex: 1;
    text-align: end;
}

.icono .logo
{   
    cursor: pointer;
}

.encabezado .titulo
{
    color: black;
}

.login .boton
{
    margin:  0 5px;

    background-color: rgb(255, 0, 153);
    border-color: rgb(255, 0, 153);
}

.login .boton:hover
{
    background-color: rgb(204, 24, 132, 0.7);
}

.login .boton:focus
{
    box-shadow: none;
}