.formulario
{
    position: relative;
    box-sizing: border-box;
    width: 1000px;

    display: flex;
    justify-content: center;

    margin: 20px 0;
    padding: 40px;
    
    border-radius: 20px;
    background-color: #333;
    color: #fff;
}

.formulario .foto
{
    position: absolute;
    top: 45%;
    right: 20px;

    transform: translateY(-50%);

    text-align: center;
}

.foto .input-file
{
    width: 120px;
}

.foto .perfil
{
    width: 90px;
    height: 90px;

    margin: 10px 0;
    border-radius: 50%;
}

.formulario .perfil
{
    text-align: center;
}

.perfil .boton
{

    margin: 5px 10px;

    width: 40%;
    height: 40px;
}

.boton:focus
{
    box-shadow: none;
}