body
{
    padding: 0;
    margin: 0;
    height: 100dvh;
    background-color: #DCDCDC;
    overflow-x: hidden;

}

main
{
    height: calc(100% - 90px);

}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}