.contenedor 
{
    background-color: #000c23;
    padding: 10px;
    border-radius: 10px;
}

.usuario 
{
    background-color: #c51313;
    padding: 10px;
    margin: 5px 0;

    border-radius: 10px;
}

.usuario .img 
{
    width: 100px;
    height: 100px;

    border-radius: 10px;
}

@media (max-width: 768px) 
{

    .usuario .img 
    {
        width: 55px;
        height: 55px;
    }
    
}